*{
  padding: 0;
  margin: 0;
}
nav{
  display: flex;
  align-items: center;
  padding: 15px 60px;
  margin: 0 0 80px 0;
  font-size: 20px;
  background-color: rgb(50, 50, 75);
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
nav i{
padding: 0 7px;
}
#home-box{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding: 15px 0;
  margin: 0 10%;
  border-radius: 15px;
}
h4{
  margin-top: 15px;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-family: Times, serif;
}
#cadastro-servidor, #importa-seviços{
  margin: 20px 75px;
}
#cadastro-servidor{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#cadastro-servidor img{
  margin: 0 auto;
  width: 120px;
}
#importa-seviços{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#importa-seviços img{
  margin: 0 auto;
  width: 120px;
}